.chat-right
 .chat-right__group
  .chat-right__group__box
   .chat-right__group__box__name
    test
   .chat-right__group__box__member
    テスト太郎
  .chat-right__group--edit
   = link_to 'Edit', edit_group_path, class: 'chat-right__group--edit__inside btn'
 .chat-right__comment
  .chat-right__comment__box
   .chat-right__comment__box__name
    .chat-right__comment__box__name__user
     テスト太郎
    .chat-right__comment__box__name__time
     2019-8-21
   .chat-right__comment__box__message
    test
 .chat-right__comment__form
  .chat-right__comment__form__message
   type a message
   .chat-right__comment__form__message__img
    %label.chat-right__comment__form__message__img__pic
     = fa_icon "picture-o" 
     %input.hidden{type: 'file', accept: "image/*"}
  .chat-right__comment__form--send
   .chat-right__comment__form--send__inside
    Send
    