.chat-left{
font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

.chat-right{
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

.flush-box{
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

