#chat_group_users.clearfix{
  padding: 0 15px; 
  line-height: 50px; 
  font-size: 14px; 
  border-bottom: 1px solid #ddd;
}

#user_search_result{
  width: 628.59px; 
  float: right;
}

.btn{
  text-decoration: none;
}